.rdc {
    margin-left: -15px;
    height: auto;
    width: auto;
    border: 1px solid #c3c3c3;
    background-color: #f4f6f7b0
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.main-container{
    height:auto;
    padding:15px 20px;
}

.dropdown{
    display:inline-block
}

::-webkit-datetime-edit { padding: 4px; }

.date{
    position: relative;
    top:2px;
}
.getRoute{
    margin-left: 180px;
}

input.selectpicker{
    display: flex;
    margin: 0 auto;
    padding: 0.5%;
    border-radius:5px;
    outline:none;
    width: 11%;
    border: none;
}

select.selectpicker {
    display: inline-block;
    margin: 0 auto;
    padding-left: 20px;
    padding:7px 7px;
    border-radius:5px;
    outline:none;
    width: 20%;
    border: none;
}
.btn-new {
    background-color: rgb(68, 141, 214);
}
input{
    margin-right:10px;
    margin-left:35px;
}

.margin-left{
    margin-left: 200px;
}